.main-content {
    background: url('assets/img/bg5.jpg') center no-repeat;
    height: 100vh;
    width: 100vw;

    /* Center and scale the image nicely */
    background-size: cover;
}

.form-login {
    margin-top: 20vh;
}

.form-group {
    pointer-events: visible;
}