<div class="main-content">
    <div class="row">
        <div class="col-md-4 col-sm-3">
        </div>
        <div class="col-md-4 col-sm-6 form-login">
            <div class="card card-user">
                <div class="image">
                    <img src="assets/img/bg5.jpg" alt="...">
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-12 px-1">
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" name="username" id="username" class="form-control" placeholder="" [(ngModel)]="loginModel.UserName" required>
                                </div>
                            </div>
                            <div class="col-md-12 pl-1">
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" name="password" id="password" class="form-control" placeholder="" [(ngModel)]="loginModel.Password" required>
                                </div>
                            </div>
                            <div class="col-md-12 pl-1">
                                <div class="form-group" (click)="notifUserNameVaMatKhau()">
                                    <button class="btn btn-block btn-warning" (click)="login()" [disabled]="!isValidated()">Login</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <hr>
                <div class="button-container">
                    <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
                        <i class="fab fa-facebook-f"></i>
                    </button>
                    <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
                        <i class="fab fa-twitter"></i>
                    </button>
                    <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
                        <i class="fab fa-google-plus-g"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-3">
        </div>
    </div>
</div>
