<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Thêm mới nhóm tài sản</h4>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Mã nhóm tài sản  <span class="error">*</span></label>
                  <input type="text" class="form-control" name="ma" placeholder="Mã nhóm tài sản"
                             [(ngModel)]="nhomTaiSan.ma">
                  <p *ngIf="nhomTaiSan.ma === '' && saveClicked" class="error">Trường này là bắt buộc</p>
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Tên nhóm tài sản   <span class="error">*</span></label>
                  <input type="text" class="form-control" name="ten" placeholder="Tên nhóm tài sản"
                         [(ngModel)]="nhomTaiSan.ten" >
                  <p *ngIf="nhomTaiSan.ten === '' && saveClicked" class="error">Trường này là bắt buộc</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="offset-md-3 col-md-3 text-right">
                <div class="form-group group-function">
                  <button class="btn btn-md btn-primary" (click)="addNhomTaiSan()">Thêm mới</button>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group group-function">
                  <button class="btn btn-md btn-danger" routerLink="/nhom-tai-san">Hủy bỏ</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>